*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* header and banner styles */
.banner{
    /* ask Ai to describe the code with details  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./resources/images/donation10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 220px;
}
.banner-title{
    font-size: 80px;
    font-weight: 700;

}
.banner-description{
    padding: 30px;
}

.primary-btn{
    color: white;
    padding: 18px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    background: #FF5959;
}
/* donate now section style */
.donate-today{
    padding: 130px 200px;
    text-align: center;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #121212;
    text-align: center;
}
.description{
    color: #B0B0B0;
}
.money-container{
    padding:50px 0;
    display: flex;
    justify-content:space-around;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 800;
}
.taka-div{
    padding: 30px 20px;
    background-color: #FAFAFA;
    border-radius: 5px;
    color: #7E7E7E;
}
.primary-clolor-div{
    background-color: #FFEEEE;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    border: 2px solid #FF5959;
    color: #7E7E7E;

}
.other-amount{
    color: #D4D4D4;
    margin-bottom: 30px;
}
hr{
    height: 1px;
    background-color: #DCDCDC;
    border: 0;
    margin-bottom: 50px;
}
/* donate plan style */
.donate-plan{
    
}
.donate-description{
    text-align: center;
    padding: 0 270px;
    color: #7E7E7E;;
}
.donate-card-container{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    gap: 30px;
}
.food-card{
    padding: 50px 20px;
    background-color:#EDF5F6;
    border-radius: 5px;
}
.card-title{
    font-size: 18px;
    padding: 20px 0;
    color: #121212;
    font-weight: 600;
}
.card-description{
    color: #7E7E7E;
}
.shelter-card{
    padding: 50px 20px;
    background-color:#FFEEEE;
    border-radius: 5px;
}
.education-card{
    padding: 50px 20px;
    background-color: #FFF4D6;  
    border-radius: 5px; 
}