*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* header and banner styles */
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./resources/images/donation10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 220px;
}
.banner-title{
    font-size: 80px;
    font-weight: 700;

}
.banner-description{
    padding: 30px;
}
.banner-btn-container{

}
.primary-btn{
    color: white;
    padding: 18px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    background: #FF5959;
}